<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080245960272-jb685mtj8g3mecqrkio5brddit8jtssl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080245960272-jb685mtj8g3mecqrkio5brddit8jtssl</string>
	<key>API_KEY</key>
	<string>AIzaSyBtVE4SzVs_UH3rblnpdpBhcaLXS3wXY7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1080245960272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joyceh.HomeChef</string>
	<key>PROJECT_ID</key>
	<string>homechef-3f1e3</string>
	<key>STORAGE_BUCKET</key>
	<string>homechef-3f1e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080245960272:ios:95538ff4e9b727f5</string>
	<key>DATABASE_URL</key>
	<string>https://homechef-3f1e3.firebaseio.com</string>
</dict>
</plist>